/.idea/GoAccess.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_21_9_22_12_24_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_1.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_21_9_22_12_24__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_21_9_22_12_24_[Changes]/shelved.patch
